extends settings/layout

prepend html
  - const lang = "ru";

prepend head
  - const pageTitle = "Купить {название товара} недорого. Цены, отзывы. Закажите {название товара} сейчас!";
  - const themeColor = "#ffffff";

append head

append fonts
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,500,500i,700,900&subset=cyrillic,cyrillic-ext")

append content
  include components/promo
  include components/section.html

append scripts
  script(src="js/slick.min.js")
